.brand {
  display: flex;
  flex-direction: column;
  background-color: #FCFAEF;

  &__content {
    display: grid;
    gap: 24px;
    padding-bottom: 80px;

    .section-title {
      place-self: start start;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &__image {
    width: 100%;
    background-image: url('../images/photos/29.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__info {
    margin: 0;
    font-family: Manrope, sans-serif;
    margin-bottom: 40px;
    place-self: start start;
  }

  @media (min-width: 320px) {
    &__image {
      height: 200px;
    }
  }

  @media (min-width: 744px) {
    &__image {
      height: 400px;
      background-image: url('../images/photos/29.jpg');
      background-size: contain;
    }

    &__content {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      align-items: start;
      gap: 24px;
      padding-top: 40px;
    }
  }

   @media (min-width: 1260px) {
    &__image {
      height: 460px;
      background-image: url('../images/photos/28.jpg');
      background-size: cover;
    }

    &__content {
      gap: 100px;
    }
  }
}
