.brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FCFAEF;

&__image {
  width: 100%;
  max-width: 320px;
  display: block;
  object-fit: cover;
  }

&__info {
  margin: 0;
  font-family: Manrope, sans-serif;
  margin-bottom: 40px;
  }
}
