.brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FCFAEF;

  &__image {
    width: 100%;
    display: flex;
    object-fit: contain;
  }

  &__info {
    margin: 0;
    font-family: Manrope, sans-serif;
    margin-bottom: 40px;
  }

  @media (min-width: 320px) {
    &__image {
      width: 100%;
      height: 200px;
    }
  }

  @media (min-width: 744px) {
    &__image {
      width: 100%;
      height: 400px;
    }
  }
}
