  .product__button {
    margin: 16px 20px 50px;
    padding: 12px 20px;
    background-color: #F98921;
    color: white;
    border: none;
    box-shadow: none;
    appearance: none;
    -webkit-appearance: none;
    font-family: Manrope, sans-serif;
    font-size: 16px;
    border-radius: 8px;
    justify-content: center;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
    height: 56px;
  }

  .product__button:hover {
    background-color: #1B2129;
  }

 @media (min-width: 320px) {
    .product__button {
    width: calc(100% - 40px);
    }
  }

  @media (min-width: 744px) {
    .product__button {
    width: 600px;
    height: 56px;
    justify-content: center;
    align-items: center;
    margin: 16px auto 50px;
    }
  }

  @media (min-width: 1260px) {
    .product__button {
    width: 324px;
    height: 56px;
    margin: 16px 0 50px 120px;
    align-items: center;
    }
  }
