.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  box-sizing: border-box;
  padding-inline: 20px;
  margin: 0;
  font-family: Manrope, sans-serif;

  &__image {
    width: 100%;
    display: block;
    object-fit: cover;
  }

  @media (min-width: 1020px) {
    grid-template-columns: repeat(2, minmax(0, 498px));
    justify-content: center;

    &__image {
      height: 320px;
    }
  }
}
