.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
  padding-inline: 20px;
  margin: 0;
  font-family: Manrope, sans-serif;

  &__image {
    width: 100%;
    display: block;
    object-fit: cover;
  }


    @media (min-width: 320px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(4, 1fr);
    }
}
