.header {
  background-image: url('../images/photos/18.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20px 80px;
  box-sizing: border-box;
  min-height: 100vh;
  color: #fff;

  &__title {
    font-family: Manrope, sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
    margin: 0;
    letter-spacing: 0;
    padding-left: 20px;
  }
}

@media (min-width: 1260px) {
  .header {
    padding: 0 120px 80px;

    &__navigation {
      width: 100%;
      max-width: 1020px;
      margin-inline: auto;
      align-self: start;
    }

    &__title {
      width: 100%;
      max-width: 1020px;
      margin-inline: auto;
      font-size: 56px;
      font-weight: 700;
      align-self: end;
      padding-left: 0;
    }
  }
}
