.navigation {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;

  &__icons {
    display: flex;
    gap: 25px;
  }

  &__icons--hidden {
    display: flex;
    gap: 25px;

    .navigation__icon--phone-hidden {
      opacity: 0;
    }
  }

  &__logo {
    width: 152px;
    height: auto;
  }

  @media (min-width: 744px) {
    &__logo {
      width: 228px;
    }
  }
}
