.product {
  display: grid;
  gap: 24px;
  width: 100%;
  margin: 0;
  font-family: Manrope, sans-serif;

  &__card {
    width: 100%;
    max-width: 400px; // widac z figmy.
  }

  &__image {
    height: 280px;
    width: calc(100% - 40px);
    margin-inline: 20px;
    display: block;
    object-fit: cover;
  }

  &__content {
    padding: 20px;
    background-color: white;
    color: black;
  }

  &__title,
  &__info,
  &__price {
    margin: 0;
  }

  &__title {
    padding-bottom: 8px;
    font-size: 24px;
    line-height: 1.2;
    font-family: Manrope, sans-serif;
  }

  &__info {
    padding-bottom: 16px;
    line-height: 1.5;
  }

  &__price {
    font-size: 24px;
    line-height: 1.2;
  }

  &__button {
    margin: 16px 20px 0;
    padding: 12px 20px;
    background-color: #F98921;
    color: white;
    border: none;
    box-shadow: none;
    appearance: none;
    -webkit-appearance: none;
    font-family: Manrope, sans-serif;
    font-size: 16px;
    border-radius: 8px;
    justify-content: center;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
    width: calc(100% - 40px);
    box-sizing: border-box;
    height: 56px;
  }

  &__button:hover {
    background-color: #1B2129;
  }
}
