.product {
  width: 100%;
  max-width: 400px; // widac z figmy.
  margin: 0;
  font-family: Manrope, sans-serif;

  &__image {
    height: 280px;
    margin-inline: 20px;
    background-image: url('../images/photos/8.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__content {
    padding: 20px;
    background-color: white;
    color: black;
  }

  &__title,
  &__info,
  &__price {
    margin: 0;
  }

  &__title {
    padding-bottom: 8px;
    font-size: 24px;
    line-height: 1.2;
  }

  &__info {
    padding-bottom: 16px;
    line-height: 1.5;
  }

  &__price {
    font-size: 24px;
    line-height: 1.2;
  }
}
