.title {
  font-family: Manrope, sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  margin: 0;
  letter-spacing: 0;
  padding-left: 20px;

  &--secoundary {
    font-size: 32px;
    line-height: 32px;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 40px;

  }
}
