@import 'utils';
@import 'fonts';
@import 'typography';
@import 'blocks/header';
@import 'blocks/title';
@import 'blocks/product';
@import 'blocks/button';
@import 'blocks/gallery';
@import 'blocks/brand';
@import 'blocks/form';
@import 'blocks/contacts';
@import 'blocks/navigation';
@import 'blocks/menu';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: white;
}
